*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    height:100%;
}
body{
    font-family:Arial, sans-serif;

    display:flex;
    flex-direction:column;

    min-height:100vh;
}
main{
    flex:1;
}

/* navigation */
nav{
    background:#222;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* Home page */

.hero{
    background-image:url("../images/hero.avif");
    background-size:cover;
    background-position:center;

    height:500px;

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero h2{
    margin-bottom:20px;
}

.hero p{
    margin-bottom:20px;
}

.hero button{
    background:#007bff;
    color:white;

    border:none;

    padding:12px 25px;

    border-radius:5px;

    cursor:pointer;

    font-size:16px;
}
.hero button:hover{
    background:#0056b3;
}

.featured{
    padding:40px;
}

.products{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}
.product-card img{
    width:100%;
    height:150px;
    object-fit:cover;

    border-radius:5px;
}

.product-card{
    border:none;

    box-shadow:0 2px 10px rgba(0,0,0,0.2);

    border-radius:10px;

    padding:20px;

    width:220px;

    transition:0.3s;
}
.product-card:hover{
    transform:translateY(-5px);
}
.view-btn{
    margin-top:15px;
    width:100%;
    padding:10px;
    border:none;
    border-radius:5px;
    background:#007bff;
    color:white;
    cursor:pointer;
    font-size:15px;
    transition:0.3s;
}
.view-btn:hover{
    background:#0056b3;
}
.categories{
    padding:50px;
    text-align:center;
}

.category-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.category{
    background:#007bff;
    color:white;
    padding:20px 40px;
    border-radius:10px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Products Page  */
.products-page{
    padding:50px;
    text-align:center;
}
.filter-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
    margin:30px 0;
}
.filter-buttons button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    background:#007bff;
    color:white;
    cursor:pointer;
    transition:0.3s;
}
.filter-buttons button:hover{
    background:#0056b3;
}
.products-grid{
    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;
}
.product-details{
    padding:50px;
}
.details-container{
    display:flex;
    gap:40px;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.details-image img{
    width:400px;
    max-width:100%;
    border-radius:10px;
}
.details-info{
    max-width:500px;
}
.details-info h2{
    margin-bottom:15px;
}
.details-info h3{
    color:#007bff;
    margin-bottom:15px;
}
.cart-btn{
    margin-top:20px;

    padding:12px 25px;

    border:none;

    border-radius:5px;

    background:#28a745;

    color:white;

    cursor:pointer;
}
.cart-btn:hover{
    background:#218838;
}

.cart-page{
    padding:50px;
}
.cart-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
    margin-bottom:20px;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);

    background:white;
}
.cart-info h3{
    margin-bottom:10px;
}

.cart-info p{
    margin:5px 0;
}
.cart-actions{
    display:flex;
    gap:10px;
}
.cart-actions button{
    padding:10px 15px;

    border:none;

    border-radius:5px;

    cursor:pointer;

    font-weight:bold;
}
.cart-actions button:nth-child(2){
    background:#ffc107;
}
.cart-actions button:last-child{
    background:#dc3545;
    color:white;
}
.cart-item button{
    margin:5px;
}
#cart-total{
    margin-top:30px;

    text-align:right;

    font-size:28px;

    color:#007bff;
}
.cart-title{
    text-align:center;
    margin-bottom:30px;
    color:#222;
}

/* Checkout page  */
.checkout-btn{
    background:#007bff;
    color:white;

    border:none;

    padding:12px 25px;

    border-radius:5px;

    cursor:pointer;

    margin-top:20px;
}
.checkout-btn:hover{
    background:#0056b3;
}

.checkout-page{
    max-width:700px;

    margin:auto;

    padding:40px;
}

.checkout-page h2{
    text-align:center;
    margin-bottom:30px;
}

#checkout-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

#checkout-form input,
#checkout-form textarea{

    padding:12px;

    border:1px solid #ccc;

    border-radius:5px;
}

#checkout-form button{

    background:#28a745;

    color:white;

    border:none;

    padding:12px;

    border-radius:5px;

    cursor:pointer;
}
.checkout-container{
    display:flex;
    justify-content:center;
    margin-top:30px;
}
.checkout-btn{
    background:#007bff;
    color:white;

    border:none;

    padding:15px 35px;

    border-radius:8px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}
.checkout-btn:hover{
    background:#0056b3;
    transform:translateY(-2px);
}

/* Confirmation Page  */
.confirmation{
    min-height:70vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}
.confirmation-card{

    background:white;

    padding:50px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.15);

    text-align:center;

    max-width:500px;
}
.success-icon{

    width:80px;
    height:80px;

    margin:auto;
    margin-bottom:20px;

    border-radius:50%;

    background:#28a745;

    color:white;

    font-size:40px;

    display:flex;
    justify-content:center;
    align-items:center;
}
.confirmation-card h2{
    margin-bottom:15px;
}
.confirmation-card p{
    margin-bottom:10px;
}
.home-btn{

    margin-top:20px;

    background:#007bff;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;

    transition:0.3s;
}
.home-btn:hover{
    background:#0056b3;
}
.order-id{
    color:#777;
    margin:15px 0;
}

/* Contact Page  */

.contact-page{
    padding:50px 20px;
}
.contact-page h2{
    text-align:center;
    margin-bottom:15px;
}
.contact-text{
    text-align:center;
    margin-bottom:40px;
}
.contact-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}
.contact-info,
.contact-form{
    flex:1;
    min-width:300px;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.contact-info h3,
.contact-form h3{
    margin-bottom:20px;
}
.contact-info p{
    margin-bottom:15px;
}
.contact-form form{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.contact-form input,
.contact-form textarea{
    padding:12px;

    border:1px solid #ccc;

    border-radius:5px;
}
.contact-form button{
    background:#007bff;

    color:white;

    border:none;

    padding:12px;

    border-radius:5px;

    cursor:pointer;

    transition:0.3s;
}
.contact-form button:hover{
    background:#0056b3;
}

/* Product page */
.product-container{
    min-height:70vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 20px;
}
.product-box{

    background:#fff;

    width:900px;

    max-width:100%;

    border-radius:15px;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);

    overflow:hidden;

    display:flex;

    align-items:center;

    gap:40px;

    padding:30px;
}
.product-image{

    width:350px;

    max-width:100%;

    border-radius:10px;
}
.product-content{

    flex:1;
}
.category-badge{

    background:#007bff;

    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:14px;

    display:inline-block;

    margin-bottom:15px;
}
.product-content h1{

    font-size:32px;

    margin-bottom:10px;

    color:#222;
}
.product-content h2{

    color:#28a745;

    margin-bottom:20px;

    font-size:28px;
}
.description{

    color:#555;

    line-height:1.8;

    margin-bottom:25px;
}
.button-group{
    display:flex;
    justify-content:center;
    align-items:baseline;
    gap: 25px;
    flex-wrap:wrap;
}

.cart-btn,
.back-btn{
    min-width:160px;
    text-align:center;
}
.cart-btn,
.back-btn{

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;

    font-weight:bold;

    transition:0.3s;
}
.cart-btn{

    background:#28a745;

    color:white;
}
.back-btn{

    background:#007bff;

    color:white;
}
.cart-btn:hover,
.back-btn:hover{

    opacity:0.9;
}

/* Responsible Design  */

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        margin-top:15px;
    }

    .hero{
        height:350px;
        padding:20px;
    }

    .hero h2{
        font-size:28px;
    }

    .products{
        flex-direction:column;
        align-items:center;
    }

    .product-card{
        width:90%;
    }

}
@media(max-width:768px){

    .cart-item{
        flex-direction:column;
        align-items:flex-start;
    }

    .cart-actions{
        margin-top:15px;
        flex-wrap:wrap;
    }

}

@media(max-width:768px){

    .product-box{

        flex-direction:column;

        text-align:center;
    }

    .product-image{

        width:280px;
    }

    .button-group{

        justify-content:center;
    }

}